Stylehtml {
    font-family: 'Cormorant Garamond', serif;
    background-color: #FDF0D5;
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 200;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .r2 {
    margin-top: 0;
  }
  #logo {
    height: 15vw;
    width: 30vw;
    float: right;
    margin-right: 5vw;
    padding: 1vw;
  }
  #main {
    color: #C1121F;
    float: left;
    left: 0;
    font-size: 6vw;
    font-weight: light;
    padding-top: 0vw;
    padding-left: 2vw;
    margin-top: 1vw;
    margin-left: 4vw;
    z-index: 9;
    width: 60vw;
    position: absolute;
  }
  #rectangleEryn {
    height: 60px;
    width: 60vw;
    background-color: white;
    float: left;
    margin-right: 0;
    margin-top: 5vw;
    margin-bottom: 5vw
  }
  #subHeadings {
    float: right;
    right: 0;
  }
  #readHeading {
    float: right;
    right: 0;
    padding-top: 0vw;
    width: 65vw;
    margin-left: 100%;
  }
  #musicHeading {
    float: right;
    right: 0;
    width: 45vw;
    margin-left: 100%;
  }
  #aboutHeading {
    float: right;
    right: 0;
    width: 25vw;
    margin-left: 100%;
  }
  #reading{
    color: #C1121F;
    float: right;
    padding-right: 20vw;
    font-size: 4vw;
    z-index: 9;
    position: absolute;
  }
  #reading:hover { 
    color: #780000; 
  }
  #music{
    color: #C1121F;
    float: right;
    padding-right: 20vw;
    font-size: 4vw;
    z-index: 9;
    position: absolute;
  }
  #music:hover { 
    color: #780000; 
  }
  #about{
    color: #C1121F;
    float: right;
    font-size: 4vw;
    z-index: 9;
    position: absolute;
  }
  #about:hover { 
    color: #780000; 
  }
  #rectangleRead {
    height: 60px;
    width: 70vw;
    background-color: white;
    float: right;
    margin-right: 0;
    margin-top: 1vw;
    margin-left: 100%;
  }
  #rectangleMusic {
    height: 60px;
    width: 50vw;
    background-color: white;
    float: right;
    margin-right: 0;
    margin-top: 5vw;
    margin-left: 100%;
  }
  #rectangleAbout {
    height: 60px;
    width: 30vw;
    background-color: white;
    float: right;
    margin-right: 0;
    margin-top: 5vw;
    margin-left: 100%;
  }
  #footer {
    width: 100%;
    height: 10%;
    float: bottom;
    bottom: 0;
    margin-top: 100%;
    position: absolute;
    background-color: #fae3b4;
    z-index: 10;
  }
  #footerText {
    text-align: center;
    color: #780000;
    font-size: 1vw;
  }